@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

body {
  font-family: "Dosis", sans-serif;
  background-color: #fff2d0;
  color: #000000;
  margin: 0;
  min-height: 100vh;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

h1 {
  margin: 0;
  text-align: center;
}

#play-button {
  width: 8rem;
  height: 8rem;
  border-radius: 999px;
  border: 6px solid #ffb2b2;
  background-color: #ffffff;
  color: #000000;
  font-family: "Dosis", sans-serif;
  font-size: 1.2rem;
  transition: 2000ms;
}

#play-button:hover {
  cursor: pointer;
}

#play-button:active {
  width: 12rem;
  height: 12rem;
}

dialog[open] {
  margin: auto;
  padding: 1rem 1.5rem;
  border: 3px solid #ffb2b2;
  border-radius: 1rem;
  font-family: "Dosis", sans-serif;
}

#dialog-close-button {
  font-family: "Dosis", sans-serif;
  border: 3px solid #ffb2b2;
  border-radius: 999px;
  background-color: #ffffff;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
}
