.references img {
  width: 150px;
}

body {
  background-color: antiquewhite;
  color: cadetblue;
  font-family: "Dosis", sans-serif;
}
/* Here, I have used a calming antiquewhite background as it creates a soft and warm tone, which feels more calming. 
Furthermore, this helps the page feel more relaxed which is also the main goal I'm aiming for in my future project.
I paired it with cadetblue text to create a gentle contrast that is still readable but not too strong or overwhelming. 
The Dosis font was selected because its rounded giving it a more calm and friendly tone, alike the colour I've chosen for all my other webpages. 
To add on, I made all the webpages feel calm with the same font to make the interface feel less formal and more inviting to explore. */
